<%- include('../partials/head') %>

    <body>
        <%- include('../partials/navigation') %>
            <main>
                <form class="product-form" action="/admin/add-product" method="post">
                    <div class="form-control">
                        <label for="author">Author</label>
                        <input type="text" name='author' id="author">
                        <label for="title">Title</label>
                        <input type="text" name='title' id="title">
                        <label for="imageUrl">Image URL</label>
                        <input type="text" name='imageUrl' id="imageUrl">
                        <label for="price">Price</label>
                        <input type="number" name='price' id="price">
                        <label for="description">Description</label>
                        <textarea name='description' id="description" rows=10></textarea>

                    </div>
                    <button class="btn">Add Product</button>

                </form>
            </main>
            <%- include('../partials/end') %>